################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.claude
/.vs
/bin/Debug/net10.0
/obj
